<section id="section-about" class="clearfix">

    <div class="heading">
        <h2>Meet the Doctors</h2>
    </div>

    <div class="about about--bradley-adams">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <h3>C. Bradley Adams, DDS</h3>
                    <h4>General & Cosmetic Dentist</h4>
                    <p>Dr. Brad Adams is a unique small town dentist. His extensive focus on postdoctoral study of
                        clinical dentistry places him in the top 5% of all dentists for continuing education, enabling
                        him to provide some of the latest advances in dental technology—things like digital x-rays,
                        implant dentistry , and Invisalign orthodontics.</p>
                    <p>Best of all, Dr. Adams combines this “big city” clinical dentistry with “small town” care and
                        communication that will make you feel right at home. You won’t get any snooty lectures here,
                        just clear, understandable explanations and the latest in advanced dentistry. It’s the best of
                        both worlds, and it really is something to smile about!</p>
                    <p>Dr. Adams was the Recipient of the American Dental Association Golden Apple Award for New Dentist
                        Leadership in 2012, an honor given to ONE dentist in the US Annually. He was also the Recipient
                        of the Monte Miska Award in Prosthodontic excellence at UNC.</p>
                </div>
            </div>
        </div>
        <img src="/assets/team/brad-mobile.jpg" alt="Dr. Adams" class="hidden-lg hidden-md about__image--mobile">
    </div>

    <div class="about about--meredith-adams">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>Meredith Smith Adams, DDS</h3>
                    <h4>Pediatric, General, & Cosmetic Dentist</h4>
                    <p>Dr. Merideth Smith Adams is a special kind of pediatric dentist. With her kid-oriented approach,
                        she helps children get genuinely excited about their dental care. You will find that her warm
                        personality and fun teaching style help children to develop healthy habits that will last a
                        lifetime.</p>
                    <p>Her parents started Smith and Adams Family Dentistry in 1976, and she continues the tradition
                        with her husband Dr. Bradly Smith, and her mother Dr. Deborah Smith.</p>
                    <p>Dr. Smith earned her doctorate from from University of North Carolina School of Dentistry. She is
                        active on the staff at Wayne UNC Health Care and is a proud member of the American Dental
                        Association, the North Carolina Dental Asociation and the Wayne County Dental Society.</p>
                </div>
            </div>
        </div>
        <img src="/assets/team/meredith-mobile.jpg" alt="Dr. Adams" class="hidden-lg hidden-md about__image--mobile">
    </div>

    <div class="about about--smith">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <h3>Deborah J. Smith, DDS</h3>
                    <h4>Pediatric, General, &git pull  Cosmetic Dentist</h4>
                    <p>"Dr. Debbie" Smith has been setting the highest standards of excellence in pediatric dentistry in
                        Goldsboro since 1976. She earned her degree from the University of North Carolina Dental School
                        and her entire professional career has been focused on providing dental care for children and
                        adolescents.</p>
                    <p>She continues to update and improve her skills by regularly attending continuing education
                        courses throughout the year, and is on staff at Wayne UNC Health Care. She is a member of the
                        American Dental Association, the North Carolina Dental Asociation and the Wayne County Dental
                        Society.</p>
                </div>
            </div>
        </div>
        <img src="/assets/team/deborah-mobile.jpg" alt="Dr. Smith" class="hidden-lg hidden-md about__image--mobile">
    </div>

    <div class="about about--pilkington">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>Emilee Q. Pilkington, DDS</h3>
                    <h4>General & Cosmetic Dentist</h4>
                    <p>Doctor Emilee Q. Pilkington is a different kind of dentist. Her use of advanced dental technology
                        combines with a gentle style that will make you and your family more comfortable than you ever
                        thought possible.</p>
                    <p>Graduating in the top 5% of of her class at the University of North Carolina Charlotte Dental
                        School, she was inducted into the Omicron Kappa Upsilon Dental Honors Society, awarded the
                        Southeastern Academy of Prosthodontics Award for excellence in Prosthodontics and the American
                        Academy of Esthetic Dentistry Award for outstanding achievement in the study of Esthetic
                        Dentistry. Yet despite his extensive focus on clinical dentistry, Dr. Pilkington takes the time
                        to get to know each and every patient one on one, helping you make informed choices about your
                        dental health.</p>
                </div>
            </div>
        </div>
        <img src="/assets/team/emilee-mobile.jpg" alt="Dr. Pilkington" class="hidden-lg hidden-md about__image--mobile">
    </div>

</section>

<section id="meet-the-team">
    <div class="heading">
        <h2>Meet Our Team</h2>
        <p>Our caring and gentle team will make you feel right at home.</p>
    </div>
    <img src="assets/team/team.png" alt="The whole team" class="image">
</section>

{% include 'molecules/video-promo.twig' %}
