<section id="section-about" class="clearfix">

    <div class="heading">
        <h2>Meet Our Team</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card--smith-lg">
                    <a href="#" data-toggle="modal" data-target="#team-modalSmith">
                        <div class="card__image"></div>
                        <div class="card__text">
                            <h5 class="card__title">Andrew E. Smith, DDS</h5>
                            <h6 class="card__sub">General Dentist</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card--bill-lg">
                    <a href="#" data-toggle="modal" data-target="#team-modalBill">
                        <div class="card__image"></div>
                        <div class="card__text">
                            <h5 class="card__title">William C. Dowsette (Dr. Bill) DDS</h5>
                            <h6 class="card__sub">General Dentist</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="about__quote-break container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                <h5 class="about__quote">“Join us for a compassionate, friendly, caring dental experience where everything we do is for you, our
                    patients! It’s our goal to ensure that your visit is comfortable and anxiety-free.”</h5>
            </div>
        </div>
    </div>

    {% include 'molecules/team__carousel.twig' %}



</section>

