<section id="section-forms">
    <div class="container">
        <div class="forms--wrapper">
            <h2>New Patient Forms</h2>
            <h5>Filling out these forms will save you time when you visit.</h5>
            <div class="row">
                <div class="col-md-4">
                    <a href="https://www.ident.ws/template_include/pi_login.jsp?site=12003&practiceId=40921&page=Patient+Information" class="btn btn__one" target="_blank">EXISTING PATIENT LOGIN</a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.dentistrydifference.com/pdf/New-Patient-Forms.pdf" class="btn  btn__two" target="_blank">NEW PATIENT FORMS</a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.ident.ws/template_include/new_patient_sign_in.do?site=12003&practiceId=40921" class="btn btn__three" target="_blank">NEW PATIENT LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</section>
