<section id="section-insurance">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <h2 class="title">No Insurance?</h2>
                <h4 class="sub-title">Our Patients Don't Need It!</h4>
                <h3 class="care-text">Get your preventive care<br>for a low monthly fee.</h3>
                <h6 class="sub-text">Exclusively for our uninsured patients.</h6>
                <h6 class="sub-text">Make easy payments for your preventive care.</h6>
                <h6 class="sub-text sub-text--last">Save money on your treatment.</h6>
                <a class="btn" href="{{ insuranceLink }}" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <div class="mobile-insurance-fix">
        <img src="/assets/insurance-mobile.jpg" alt="mother and child smiling">
    </div>
</section>
