<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slide1-mobile.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Marquee Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix hidden-xs">
        <div class="swiper-container swiper-parent swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!--Slide 1-->
            <!--=======-->
            <div class="swiper-slide swiper-slide-active slide1">
                <div class="container clearfix slide-padding">
                    <div class="row">
                        <div class="col-sm-5 col-sm-push-7">
                            <h1>Big City<br>Dentistry,</h1>
                            <h2>small town<br>relationships</h2>
                            <h4>NOW WELCOMING THE WHOLE FAMILY</h4>
                            <a href="#" class="btn" data-scrollto="#section-specials" data-offset="60">New Patient Offers</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide 2-->
            <!--=======-->
            <div class="swiper-slide slide2">
                <div class="container clearfix slide-padding">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2>See What Our<br>Patients Are Saying</h2>
                            <div class="stars">
                                <h2><i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i></h2>
                            </div>
                            <h4 class="copy">“After my recent visit, I knew this is where I wanted to bring my entire family for dental care.” <span class="quoter">–Barbara D.</span></h4>
                            <a href="#" class="btn" data-offset="60" data-scrollto="#section-reviews">Read More Reviews</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide 3-->
            <!--=======-->
            <div class="swiper-slide slide3">
                <div class="container clearfix slide-padding">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="title">NO INSURANCE?</h2>
                            <h3 class="sub-title">Our Patients Don’t Need It!</h3>
                            <h3 class="preventative-copy">Get your preventive care<br>for a low monthly fee.</h3>
            <a href="#" class="btn" data-offset="60" data-scrollto="#section-insurance">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide 4-->
            <!--=======-->
            <div class="swiper-slide slide4">
                <div class="container clearfix slide-padding">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="title">Kids LOVE it Here!</h2>
                            <h3 class="sub-title">Full In-House Pediatric Team</h3>
                            <h3 class="copy">Our children’s dental team will<br>make your child feel right at home.</h3>
                            <a href="#" class="btn" data-offset="60" data-scrollto="#section-kids">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
</section>
{% include 'atoms/down-arrow.twig' %}
{% include 'organisms/call-to-action__three-to-one.twig' %}
