<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slide-mobile.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Marquee Slider
============================================= -->
<section id="slider2" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix hidden-xs">
    <div class="swiper-container swiper-parent swiper-container-horizontal">
        <div class="swiper-wrapper">

            <!--Slide 1-->
            <!--=======-->
            <div class="swiper-slide swiper-slide-active slide1">
                <img src="/assets/slide1.jpg" alt="Dr. Smith and Family">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h1 class="slide__title">Great Smiles</h1>
                            <h2 class="slide__sub-title">from Our Family to Yours</h2>
                            <h4 class="slide__welcoming">Now Welcoming New Patients</h4>
                            <a href="#" class="btn" data-scrollto="#section-specials" data-offset="80">New Patient Offers</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide 3-->
            <!--=======-->
            <div class="swiper-slide slide3">
                <img src="/assets/slide2.jpg" alt="Dr. Smith and Family">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h1 class="title">NO INSURANCE?</h1>
                            <h2 class="sub-title">Our Patients Don’t Need It!</h2>
                            <h3 class="preventative-copy">Get your preventive care<br>for a low monthly fee</h3>
                            <a href="#" class="btn" data-offset="80" data-scrollto="#section-insurance">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide 2-->
            <!--=======-->
            <div class="swiper-slide slide2">
                <img src="/assets/slide3.jpg" alt="Dr. Smith and Family">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="title">See What Our<br>Patients Are Saying</h2>
                            <div class="stars">
                                <h3><i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i>&nbsp;<i class="icon-star3"></i></h3>
                            </div>
                            <h4 class="copy">“I had such a wonderful experience with your office. The dentist and his team went out of their way to be kind and helpful.” –Rebecca</h4>
                            <a href="#" class="btn" data-offset="80" data-scrollto="#section-reviews">Read More Reviews</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
