<section id="section-services" class="parallax">
    <div class="heading">
        <div class="container">
            <h2>Our Services</h2>
            <p>By actively preventing disease and decay through regular home care, professional dental cleanings and
                regular exams, we'll partner with you to maintain your healthy, beautiful smile. Prevention is always better
                than treatment, so if it's been a while since you've seen a dentist, please give us a call or <a href="#" data-target="#requestAppointmentForm" data-toggle="modal" target="_blank">click&nbsp;to&nbsp;request&nbsp;an&nbsp;appointment</a>.</p>
        </div>
    </div>

    <div class="services__slab services__slab--smile-makeover">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <h2 class="title">Smile Makeovers</h2>
                    <p class="copy">Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful,
                        bright, healthy smile will increase self-confidence and overall life satisfaction. Cosmetic dentistry
                        includes things like tooth-colored restorations, dental implants, and crowns. We have many options, so
                        please call us today!</p>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md">
            <img src="/assets/services/cosmetic.jpg" alt="Woman Smiling">
        </div>
    </div>

    <div class="services__slab services__slab--implant-dentistry">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title">Implant Dentistry</h2>
                    <p class="copy">Dental implants are a great option for replacing missing teeth, improving chewing
                        ability, eliminating bridges, and replacing dentures.</p>
                    <p class="copy">Several implants may provide a base for a series of artificial teeth known as a
                        fixed bridge. Implants can even be used to secure a full set of removable dentures for people
                        who have no remaining natural teeth.</p>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md">
            <img src="/assets/services/implants.jpg" alt="Woman Smiling">
        </div>
    </div>

    <div id="section-kids" class="services__slab services__slab--video-promo">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <h2 class="title title--green">Kids LOVE it Here!</h2>
                    <p class="copy">Dr. Meredith Smith Adams and Dr. Debbie Smith welcome children to a fantastic dental experience! Both of our pediatric-focused doctors have fun personalities that get kids excited about dental care. Their gentle one-on-one approach makes children of every age feel both comfortable and confident, and sets a precedent for excellent future oral health.</p>
                    {% include 'atoms/iframe-video--16x9.twig' %}
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md">
            <img src="/assets/services/pediatric.jpg" alt="Woman Smiling">
        </div>
    </div>

    {% include 'molecules/services__carousel.twig' %}
</section>