<section id="section-specials">

    <div class="container clearfix">
        <div class="col-lg-6 col-lg-push-6">
            <div class="center">
                <h2>Limited&nbsp;Time Summer&nbsp;Specials</h2>
                <h5>Offers End September 20, 2017</h5>
            </div>
            <div class="row border-top specials__row--one">
                <div class="box-wrap"><div class="box box-1"><span class="dollar">$</span><span class="price">65</span>
                        <div class="save">SAVE $246</div></div></div>
                <h6>New&nbsp;Patient&nbsp;Dental&nbsp;Exam</h6>
                <p>Includes comprehensive exam by the doctor and necessary x‑rays. (D0150, D0330, D0274)</p>
            </div>

            <div class="row  specials__row--two">
                <div class="box-wrap"><div class="box box-2"><span class="dollar">$</span><span class="price">45</span>
                        <div class="save">SAVE $88</div></div></div>
                <h6>New&nbsp;Patient&nbsp;Dental&nbsp;Cleaning</h6>
                <p>Includes a professional dental cleaning. A new patient exam is required. Does not include periodontal therapy.   (D1110) ​</p>
            </div>

            <div class="row  specials__row--three">
                <div class="box-wrap"><div class="box box-3"><span class="dollar">$</span><span class="price">99</span>
                        <div class="save">SAVE $243</div></div></div>
                <h6>New&nbsp;Children’s&nbsp;Exam and&nbsp;Cleaning</h6>
                <p>Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed x‑rays, and a comprehensive exam.   (D0150, D0272, D1120, D1208)
                </p>
            </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="specials-below hidden-lg">
        <img src="/assets/specials-bg-mobile.jpg" alt="Specials Mobile">
    </div>

</section>