<section id="slider">

    <div id="oc-slider" class="owl-carousel carousel-widget js-tour-carousel tour-carousel" data-margin="0" data-items="1" data-pagi="false" data-loop="true" data-animate-in="fadeIn" data-speed="450" data-animate-out="fadeOut" data-autoplay="5000">

        <img src="/assets/tour/1.jpg" alt="Slider">
        <img src="/assets/tour/2.jpg" alt="Slider">
        <img src="/assets/tour/3.jpg" alt="Slider">
        <img src="/assets/tour/4.jpg" alt="Slider">
        <img src="/assets/tour/5.jpg" alt="Slider">
        <img src="/assets/tour/6.jpg" alt="Slider">
        <img src="/assets/tour/7.jpg" alt="Slider">
        <img src="/assets/tour/8.jpg" alt="Slider">
        <img src="/assets/tour/9.jpg" alt="Slider">
        <img src="/assets/tour/10.jpg" alt="Slider">

    </div>

</section>