@include social-media-link('facebook');
@include social-media-link('yelp');
@include social-media-link('instagram');
@include social-media-link('youtube');
@include social-media-link('google-plus');

.icon-google-plus {
  background-color: #DE4A39;
  border-radius: 0.5px;
}

.social-icon {
  height: 44px;
}

.si-yelp:hover, .si-colored.si-yelp {
  background-color: rgba(0,0,0,0) !important;
}
.si-facebook:hover, .si-colored.si-facebook {
  background-color: rgba(0,0,0,0) !important;
}