<div class="down-arrow__wrapper hidden-xs">
    <a href="#" data-scrollto="#section-about" data-offset="60" class="hidden-sm">
        <img src="/assets/down_arrow.png" class="infinite animated fadeInDown down-arrow" alt="down arrow">
    </a>
    <a href="#" data-scrollto="#section-about" data-offset="0" class="hidden-md hidden-lg">
        <img src="/assets/down_arrow.png" class="infinite animated fadeInDown down-arrow" alt="down arrow">
    </a>
</div>