<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include '/organisms/head.twig' %}

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  {% include 'organisms/header.twig' %}

  {% include 'organisms/marquee.twig' %}

    <!-- Content
  ============================================= -->

    <div id="content" >

            {% include 'organisms/about.twig' %}

            {% include 'organisms/specials.twig' %}

            {% include 'molecules/cta__two-to-one.twig' %}

            {% include 'organisms/reviews.twig' %}

            {% include 'organisms/insurance.twig' %}

            {% include 'organisms/services.twig' %}

            {% include 'organisms/care-credit.twig' %}

            {% include 'organisms/location--floating-card.twig' %}

    </div>

    <!-- Request Appointment Modal
    ============================================= -->
    {% include 'organisms/request-modal.twig' %}

    <!-- Footer
    ============================================= -->
    {% include 'organisms/footer.twig' %}

</div><!-- #wrapper end -->

{% include 'organisms/foot.twig' %}

</body>
</html>
