#slider2 {
  height: 80vh;
  max-height: 800px;
  min-height: 700px;
  @media (max-width: $width-lg) {
    max-height: 800px;
    min-height: 700px;
  }

  .swiper-slide.slide1 {
    background-image: url('/assets/slide1.jpg');
    background-position: 30% center;
  }
  .swiper-slide.slide2 {
    background-image: url('/assets/slide3.jpg');
  }
  .swiper-slide.slide3 {
    background-image: url('/assets/slide2.jpg');
    background-position: 30% center;
  }

  .swiper-slide {
    .container {
      height: 100%;
    }
    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }


  .slide1 {
    h1 {
      color: white;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    h2 {
      color: white;
      @include font-size(44px,
              38px,
              35px,
              30px,
              30px);
      font-weight: 700;
      line-height: 1.2;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    h4 {
      @include font-size(28px,
              22px,
              35px,
              30px,
              30px);
      color: white;
      font-family: $ff-lato;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
      text-transform: uppercase;
    }
    a {
      margin-left: 5px;
    }
  }
  .slide2 {
    .title {
      color: white;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    h2 {
      color: white;
      font-weight: 700;
      line-height: 1.2;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    h4 {
      font-size: 22px;
      color: white;
      font-family: $ff-lato;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    a {
      margin-left: 5px;
    }

  }
  .slide3 {
    h1 {
      @include font-size(70px, 58px, 55px, 65px, 65px);
      color: white;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    h2 {
      color: white;
      @include font-size(44px, 35px, 35px, 32px, 32px);
      font-family: $ff-lato;
      font-weight: 700;
      line-height: 1.2;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    h3 {
      color: white;
      line-height: 1.2;
      font-family: $ff-lato;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    }
    .btn {
      @include lr-padding(80px, 60px, 60px);
    }
  }
  .slide4 {
    .title {
      @include h1();
      color: #85B04B;
      margin-bottom: 0;
      @include font-size(72px, 60px, 55px, 65px, 65px);
    }
    .sub-title {
      color: #3A5464;
      font-family: $ff-lato;
      margin-bottom: 10px;
      @include font-size(40px,
              35px,
              35px,
              30px,
              30px);
    }
    .preventative-copy {
      color: #444444;
      font-family: $ff-lato;
      line-height: 1.3;
      font-weight: 400;
    }
    .btn {
      @include lr-padding(80px, 60px, 60px);
    }
  }

  .icon-star3 {
    color: $c-star;
  }

}

#mobile-background {
  display: none;
  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}