#section-specials {

  .heading  {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    .title {
      color: #000000;
      font-weight: 700;
    }
    .sub-title {
      color: #000000;
      font-family: $ff-lato;
      font-weight: 400;
    }
  }

  background:url('/assets/offers-bkgd.jpg');
  background-size:cover;
  padding:50px 0;
  //background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: right center;
  @media (max-width:1200px) {
    background:#FFF;
    padding-bottom:0;
  }
  h2 {
    font-weight:400;
    font-size:36px;
    color: #000000;
    margin-bottom: 0;
    @media (max-width:767px) {
      text-align:center;
    }
    @media (max-width:480px) {
      font-size:32px;
    }

  }
  h5 {
    font-weight:400;
    font-size: 24px;
    color: #000000;
    letter-spacing: -0.25px;
    margin-bottom:30px;
    @media (max-width:767px) {
      font-size:20px;
    }
    @media (max-width:480px) {
      font-size:15px;
    }
  }
  .d-text {
    font-size:16px;
  }
  .box {
    float:left;
    width:145px;
    height:145px;
    background: rgba(255, 255, 255, 0);
    color:#000000;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    margin-right:25px;
    //padding:15px;
    flex-wrap:wrap;
    border-radius:9999px;
    padding-bottom:10px;
  }
  .save {
    margin-top:-30px;
    width:100%;
    text-align:center;
    font-size: 21px;
    font-weight:700;
    color: #000000;
    font-family: $ff-lato;
  }
  .col-md-6 {
    padding:0;
  }
  .price {
    font-weight:700;
    font-size: 72px;
    color: #000000;
    font-family: $ff-lato;
    letter-spacing: -1.55px;
    line-height: 1;
  }
  .dollar {
    font-weight:700;
    font-family: $ff-lato;
    font-size: 30px;
    color: #000000;
    position:relative;
    //top:-10px;
  }
  h6 {
    margin-bottom:10px;
    margin-top:10px;
    font-weight:700;
    font-size: 26px;
    text-align:left;
    color:#000000;
    line-height:30px;
    font-family: $ff-josef;
    @media (max-width:767px) {
      font-size:24px;
      line-height:24px;
    }
    @media (max-width:500px) {
      font-size:18px;
    }
  }
  p {
    font-size: 19px;
    color: #000000;
    line-height:23px;

  }
  .row {
    //border-bottom: 2px solid #979797;
    padding-bottom:30px;
    padding-top:30px;

  }
  .border-top {
    //border-top:2px solid #979797;
    padding-top:30px;

  }

  .box-wrap {
    @media (max-width:767px) {
      width:100%;
      display:flex;
      height:150px;
      justify-content:center;
    }
  }

  .specials__row {
    &--one {
      h6 {
        color: #000000;
      }
    }
    &--two {
      h6 {
        color: #000000;
      }
    }
    &--three {
      h6 {
        color: #000000;
      }
    }
  }

}

.specials-mobile-image {
  img {
    width:100%;
  }

}

#section-specials > div > div:nth-child(2) > div:nth-child(4) > h6 {
  line-height:28px;
  @media (max-width:500px) {
    line-height:26px;
  }
}
.form-control {
  font-size:16px !important;
}
.specials-below img {
  width:100%;
}